@font-face {
    font-family: "Carnevalee Freakshow";
    src: local("Carnevalee Freakshow"),
      url("Carnevalee\ Freakshow.ttf") format("TrueType");
  }

* {
    margin: 0;
}

.container {
    display: flex;
}

/* Left Side */
.image {
    display: flex;
    background-image: url(halie-west-bTzpau9mKT4-unsplash.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
    width: 30%;
    
    flex-direction: column;
    justify-content: space-between;
}

.side-banner {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.411);
    margin-top: 40%;
    height: 20%;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.side-banner img {
    opacity:initial;
    height: 100%;
    width: 250px;
}

.side-banner p {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: Carnevalee Freakshow, Arial, Helvetica, sans-serif;
}

.bottom-text {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2rem;
}

.bottom-text a {
    color: white; 
}

.bottom-text a:hover {
    color: rgb(233, 106, 165);
}

/* Right Side */
.sign-up {
    display: flex;
    width: 70%;

    flex-flow: column wrap;
}

.top-banner {
    background-color: rgb(245, 240, 240);
    width: 100%;
    height: 35%;
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
}

.top-banner p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 50px;

    margin-right: 30vw; 
}

.top-banner p + p {
    margin-top: 40px;
} 

.top-banner span {
    font-style: italic;
}

.form {
    background-color: white;
    height: 25%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form p {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
    width: auto;
    padding-left: 50px;
}

.form form {
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
    text-transform: uppercase;
    gap: 80px;
    padding-left: 50px;
}

.form input {
    width: 100%;
    height: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form input:focus {
    outline: none !important;
    border:1px solid rgb(80, 176, 231);
    box-shadow: 0 0.1rem 1rem 0.1rem rgba(53, 171, 250, 0.192)
  }

.form label {
    font-size: .75rem;
    letter-spacing: 1px;
}

.form #col1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
}

.form #col2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
}

.form input:invalid:focus {
    border-color: red;
}

.form input:valid:focus {
    border-color: #E5E7EB;
}

.form .error:invalid {
    border-color: red;
}

.form .error:valid {
    border-color: #E5E7EB;
}

.form .error::after {
    content: "*Passwords do not match.";
}

p.hid-err {
    display:none;
}

p.unhid-err{
    all: unset;
    color: red;
    font-size: .75rem;
}

.submit {
    height: 40%;
    width: 100%;
    background-color: rgb(245, 240, 240);
}

input.button7 {
    display:inline-block;
    padding:0.7rem 1.7rem;
    margin: 2rem 0.3rem 2rem 50px;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight:900;
    color:#FFFFFF;
    background-color:#596D48;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
}
input.button7:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

input.button7:hover {
    background-color: #698054;
}

.submit p {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
    padding-left: 50px;
}

.submit p>a {
    color: #596D48;
}

.submit p>a:visited {
    color: #596D48;
}

.submit p>a:link {
    text-decoration: none;
}